langchain
langchain-core
langchain-community
langchain-groq
langchain-pinecone
langchain_google_genai
python-dotenv
streamlit
pydantic
sentence-transformers
huggingface-hub
faster-whisper
pydub
fastapi
uvicorn[standard]
pytest
python-multipart
