@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2173 0.0107 229.5098);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2173 0.0107 229.5098);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2173 0.0107 229.5098);
  --primary: oklch(0.7422 0.1078 220.6683);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2173 0.0107 229.5098);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9911 0 0);
  --muted-foreground: oklch(0.2173 0.0107 229.5098);
  --accent: oklch(1.0000 0 0);
  --accent-foreground: oklch(0.7422 0.1078 220.6683);
  --destructive: oklch(0.6343 0.1743 10.0210);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9508 0.0065 17.2708);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7493 0.1088 218.6489);
  --chart-1: oklch(0.7422 0.1078 220.6683);
  --chart-2: oklch(0.6697 0.1626 154.1551);
  --chart-3: oklch(0.7582 0.1162 68.1528);
  --chart-4: oklch(0.6978 0.1815 148.3820);
  --chart-5: oklch(0.6144 0.1703 353.6904);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2173 0.0107 229.5098);
  --sidebar-primary: oklch(0.7422 0.1078 220.6683);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.7422 0.1078 220.6683);
  --sidebar-border: oklch(0.9970 0 0);
  --sidebar-ring: oklch(0.7493 0.1088 218.6489);
  --font-outfit: 'Outfit', sans-serif;
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 2.275rem;
  --shadow-x: -2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: -1.5px;
  --shadow-opacity: 0.07;
  --shadow-color: #515658;
  --shadow-2xs: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.04);
  --shadow-xs: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.04);
  --shadow-sm: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.07), -2px 1px 2px -2.5px hsl(197.1429 4.1420% 33.1373% / 0.07);
  --shadow: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.07), -2px 1px 2px -2.5px hsl(197.1429 4.1420% 33.1373% / 0.07);
  --shadow-md: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.07), -2px 2px 4px -2.5px hsl(197.1429 4.1420% 33.1373% / 0.07);
  --shadow-lg: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.07), -2px 4px 6px -2.5px hsl(197.1429 4.1420% 33.1373% / 0.07);
  --shadow-xl: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.07), -2px 8px 10px -2.5px hsl(197.1429 4.1420% 33.1373% / 0.07);
  --shadow-2xl: -2px 2px 0px -1.5px hsl(197.1429 4.1420% 33.1373% / 0.18);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.2252 0.0049 248.0473);
  --card-foreground: oklch(0.8853 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.7388 0.1082 220.5667);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(1.0000 0 0);
  --secondary-foreground: oklch(0.2173 0.0107 229.5098);
  --muted: oklch(0.2090 0 0);
  --muted-foreground: oklch(0.6072 0.0057 228.8729);
  --accent: oklch(0.2303 0.0291 223.1993);
  --accent-foreground: oklch(0.7388 0.1082 220.5667);
  --destructive: oklch(0.6343 0.1743 10.0210);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2834 0.0034 228.9104);
  --input: oklch(0.3299 0.0224 224.3957);
  --ring: oklch(0.7493 0.1088 218.6489);
  --chart-1: oklch(0.7422 0.1078 220.6683);
  --chart-2: oklch(0.6697 0.1626 154.1551);
  --chart-3: oklch(0.7582 0.1162 68.1528);
  --chart-4: oklch(0.6978 0.1815 148.3820);
  --chart-5: oklch(0.6144 0.1703 353.6904);
  --sidebar: oklch(0.2252 0.0049 248.0473);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.7493 0.1088 218.6489);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2303 0.0291 223.1993);
  --sidebar-accent-foreground: oklch(0.7388 0.1082 220.5667);
  --sidebar-border: oklch(0.4108 0.0186 223.0719);
  --sidebar-ring: oklch(0.7493 0.1088 218.6489);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 2.275rem;
  --shadow-x: -2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: -1.5px;
  --shadow-opacity: 0.07;
  --shadow-color: #020b0d;
  --shadow-2xs: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.04);
  --shadow-xs: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.04);
  --shadow-sm: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.07), -2px 1px 2px -2.5px hsl(190.9091 73.3333% 2.9412% / 0.07);
  --shadow: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.07), -2px 1px 2px -2.5px hsl(190.9091 73.3333% 2.9412% / 0.07);
  --shadow-md: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.07), -2px 2px 4px -2.5px hsl(190.9091 73.3333% 2.9412% / 0.07);
  --shadow-lg: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.07), -2px 4px 6px -2.5px hsl(190.9091 73.3333% 2.9412% / 0.07);
  --shadow-xl: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.07), -2px 8px 10px -2.5px hsl(190.9091 73.3333% 2.9412% / 0.07);
  --shadow-2xl: -2px 2px 0px -1.5px hsl(190.9091 73.3333% 2.9412% / 0.18);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-outfit: 'Outfit', sans-serif;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
/* --font-outfit: 'Outfit', sans-serif; */

@layer base {
  * {
    @apply border-border outline-ring/50 font-outfit;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}